.body{
    font-size: 16px; /* 1 rem = 10px*/
    font-family: 'Varta', sans-serif;
    text-align: center;
        background-color: rgba(250, 213, 6, 0.904);
    /* CSSMATIC aplicación para generar gradientes, botones y texturas*/
}

@media (min-width: 1280px){
    .boton{
        width: auto;
    }
}

@media (min-width: 480px){
    .contenedor-columnas{
        flex-direction: row;
        justify-content: space-around;
        grid-template-columns: repeat(2, 1fr);
    }
} 

.columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    width: 60rem;
    margin: 0 auto;
    }

.columna1 {
    text-align: justify;
    font-size: x-large;
    line-height: 10px;
    margin-top: 40px;
    }

/* .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: -35px;
} */


.columna2 {
    float: left;
    text-align: justify;
    margin-top: 50px;
}

.boton{
    background-color: black;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: none;
    width: 20%;
    transition: transform 0.5s;
    }

.sombra {
    box-shadow: 0px 0px 23px 0px black;
    background-color: coral;
    padding: 0.5rem;
    border-radius: 1rem;
    box-sizing: content-box;
    width: 35rem;
    padding: 1.5rem;  
}

.foto {
    display: flex;
    align-items: left;
    margin-left: 10rem;
    }

.foto2 {
    transition: transform 0.5s;
}    

.foto2 :hover {
    transform: scale(1.2);
}

.columnas2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
    }

.columnasbot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 23rem;
    margin: 0 auto;
    margin-left: 10rem;
}

